[Unit]
Description=lxc-ci - Git repository refresh
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/lxc-ci
ExecStart=/lxc-ci/bin/update-git

[Install]
WantedBy=multi-user.target
