[Unit]
Description=lxc-ci - LXD setup
Requires=network-online.target
After=network-online.target lxd.socket snap.lxd.daemon.service

[Service]
Type=oneshot
WorkingDirectory=/lxc-ci
ExecStart=/bin/sh -c "exec /lxc-ci/bin/setup-lxd"

[Install]
WantedBy=multi-user.target
