[Unit]
Description=lxc-ci - Ready
Requires=network-online.target
After=network-online.target lxc-ci.setup-lxd.service

[Service]
Type=oneshot
WorkingDirectory=/lxc-ci
ExecStart=/bin/sh -c "exec /lxc-ci/bin/ready"

[Install]
WantedBy=multi-user.target
