[Unit]
Description=lxc-ci - Jenkins slave
Requires=network-online.target
After=network-online.target lxc-ci.ready.service

[Service]
ExecStart=/bin/sh -c "exec /lxc-ci/bin/jenkins-slave"
User=jenkins
Restart=always

[Install]
WantedBy=multi-user.target
