# Proxy configuration
http_proxy="http://proxy.server.com:3128"
https_proxy="http://proxy.server.com:3128"

# Jenkins env variables
JENKINS_MODE="jnlp"
JENKINS_HOST="http://jenkins.example:8080"
JENKINS_KEY="some-key"
JENKINS_NAME="some-name"

# Distrobuilder
DISTROBUILDER_ARCHES=""

# Host cleanup
DAILY_REBOOT=true

# MAAS
MAAS_URL="http://maas.local/MAAS"
MAAS_API="SOME-API-KEY"
